<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.product.mapper.SkuAttrValueMapper">

    <resultMap id="getAttrListMap" type="com.atguigu.gmall.model.product.SkuAttrValue" autoMapping="true">
        <id column="id" property="id"></id>
        <!--  一对一映射   -->
        <association property="baseAttrInfo" javaType="com.atguigu.gmall.model.product.BaseAttrInfo" autoMapping="true" >
            <id property="id" column="attr_id"></id>
        </association>

        <association property="baseAttrValue" javaType="com.atguigu.gmall.model.product.BaseAttrValue"  autoMapping="true">
            <id property="id" column="vid"></id>
        </association>
    </resultMap>

    <select id="getAttrList" resultMap="getAttrListMap" >
        SELECT
            sav.id,
            bai.id attr_id,
            bai.attr_name,
            bav.id vid,
            bav.value_name
        FROM sku_attr_value sav
        INNER JOIN base_attr_info bai
        on sav.attr_id = bai.id
        INNER JOIN base_attr_value bav
        on sav.value_id = bav.id
        WHERE sav.sku_id = #{skuId}
    </select>



</mapper>